body {
}


@keyframes fill {
    from {
        width: 0%;
    }
}
.Card {
    width: 100px !important;
    height: 200px !important;
    padding: 45px;
    background-color: ivory;
    box-shadow: 1px 1px 10px grey;
    border-radius: 5%;
    text-align: center;
    font-family:Arial;
    
    font-size: 109px;
    font-weight: bold;
    text-shadow: 1px 8px 0 black, 1px 6px 0 black, 1px 4px 0 black, 1px 2px 0 black,-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    display: block;
    box-sizing: content-box;
}
.Red {
    color: #E54520
}
.Green {
    color: #74C043;
}
.Blue {
    color: #00BCF2;
}
.Yellow {
    color: #FFE700;
}
