body {
}


@keyframes fill {
    from {
        width: 0%;
    }
}
.Card {
    width: 100px;
    height: 200px;
    padding: 45px;
    background-color: ivory;
    box-shadow: 1px 1px 10px grey;
    border-radius: 5%;
    font-family: Arial;
    font-size: 180px;
    font-weight: bold;
    text-shadow: 4px 8px 0 black, 4px 6px 0 black, 4px 4px 0 black, 4px 2px 0 black,-4px -2px 0 black, -4px 1px 0 black, -4px 1px 0 black, 4px 1px 0 black;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    display:flex;
    justify-content:center;
    box-sizing: content-box;
    border: none;
    float: left;
    left: 300px;
    top: 500px;
    position: relative;
    align-items:center;
    text-align:center;
    
}
.Put {
    position: absolute;
}
.Panel
{
    position:relative;
    width:2000px;
    height:800px;
}
#Deck {
    position: absolute;
    left: 300px;
    top: 100px;
}
#Pile {
    position: absolute;
    left: 600px;
    top: 100px;
}
.AnimatableCard {
    transition-property: left,top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.DissapearingCard
{
    transition-property:opacity;
    transition-delay:0.5s;
    transition-timing-function: linear;
    transition-duration: 250ms;
}


.Red {
    color: #E54520
}
.Green {
    color: #74C043;
}
.Blue {
    color: #00BCF2;
}
.Yellow {
    color: #FFE700;
}
.Default {
    color: #C4C4C4;
}
