body {
}


@keyframes fill {
    from {
        width: 0%;
    }
}
body
{
    background-color:lightyellow;
}
.Card.Card {
    width: 100px;
    height: 200px;
    padding: 45px;
    background-color: ivory;
    box-shadow: 1px 1px 10px grey;
    border-radius: 5%;
    font-family: Arial;
    font-size: 180px;
    font-weight: bold;
    text-shadow: 4px 8px 0 black, 4px 6px 0 black, 4px 4px 0 black, 4px 2px 0 black,-4px -2px 0 black, -4px 1px 0 black, -4px 1px 0 black, 4px 1px 0 black;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    border: none;
    float: left;
    left: 300px;
    top: 500px;
    position: relative;
    align-items: center;
    text-align: center;
   
}
.Card.Card:hover {
    transform: scale(1.2);
    z-index:1;
    background-color:ivory;
}

.navbar {
    width: 100vw;
    table-layout:fixed
}
table.navbar input {
    width: 100%;
    height:2em;
    font-size:20px;
}
input[type=button], input[type=submit], input[type=reset] {
    border:3px thick black;
    border-radius:3px;
    background-color: limegreen;
    transition-duration: 0.2s;
    transition-property: background-color;
}
input[type=text], input[type=password] {
    width: 15em;
    height: 1.25em;
    font-size: 20px;
    background-color:lightcyan;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: lightgreen;
}
.UserPanel {
    min-width: 200px;
}

.Put {
    position: absolute;
}
.Draw {
    position: absolute;
}
.Panel
{
    position:relative;
    width:2000px;
    height:750px;
    top: 0px;
    left: 0px;
}
#Deck {
    position: absolute;
    left: 300px;
    top: 100px;
}
#Pile {
    position: absolute;
    left: 600px;
    top: 100px;
}
.AnimatableCard {
    transition-property: left,top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.Draw .AnimatableCard {
    transition-duration: 0.75s;
}
.DissapearingCard
{
    transition-property:opacity;
    transition-delay:0.5s;
    transition-timing-function: linear;
    transition-duration: 250ms;
}
.Selected
{
    border:solid;
    border-color:orangered;
}
.FloatLeft
{
    float:left;
}

.Red {
    color: #E54520
}
.Green {
    color: #74C043;
}
.Blue {
    color: #00BCF2;
}
.Yellow {
    color: #FFE700;
}
.Default {
    color: #C4C4C4;
}
.CenterBox{
    margin:auto;
    border-radius:10%;
    padding:5%;
    background-color:aliceblue;
    max-width:40%;
    margin-top:5em;
}
td {
    vertical-align:top;
}
