body
{
    background-color:olive;
    height:100vh;
}
.navbar {
    vertical-align: top;
}

.content {
    background-color:olive;
}

.BigTable {
    table-layout: auto;
    height: 100%;
    width: 100%; 
}
.BigTable td
{
    vertical-align:top;
}
form
{
    height:100%;
}


.side {
    width: 5%;
    background-color: maroon;
}
.sideButton {
    font-size: 150%;
    width: 100%;
    background-color: aqua;
    border-radius: 20px;
}