body {
    background-color: sandybrown;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    vertical-align: top;
}

.content {
    width:100%;
    height:100%;
}

.BigTable {
    table-layout: auto;
    height: 100%;
    width: 100%; 
}
.BigTable td
{
    vertical-align:top;
}
form
{
    height:100%;
}
.CenterBox table
{
    margin:auto;
}
input[type=button], input[type=submit], input[type=reset] {
    border: 2px solid black;
    border-radius: 3px;
    background-color: aqua;
    transition-duration: 0.6s;
    transition-property: background-color;
}

input[type=text], input[type=password] {
    width: 15em;
    height: 1.25em;
    font-size: 20px;
    background-color: cadetblue;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: lightgreen;
}

.side {
    width: 5%;
    border:3px dashed aqua;
}
.sideButton {
    font-size: 150%;
    width: 100%;
    border-radius: 20px;
}
.CenterBox {
    margin: auto;
    border-color: black;
    border-style: solid;
    border-width: medium;
    padding: 5%;
    background-color: teal;
    max-width: 60vw;
    margin-top: 5em;
    width:auto;
}